#ChatBot-Container{
    height: 100dvh;
    width: 100%;
    /* background-color: rgb(213, 26, 26); */
    border-radius: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 1rem;

}

#ChatBot-Body{
    height: 80vh;
    width: 100%;
    /* background-color: aquamarine; */
    /* background-color: #131314; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    /* scrollbar-width: none; */
}

.chatbot-header-example{
    height: 70vh;
    width: 90%;
    /* background-color: aqua; */
    margin-top: 15vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.chatbot-header{
    height: 20vh;
    width: 80%;
    /* background-color: rgb(127, 176, 255); */
    display: flex;
    flex-direction: column;
    /* padding-left:60px ; */
}
.chatbot-header>p:nth-child(1){
    font-size: 3.7rem;
    font-weight: 600;
    /* background-color: rgb(182, 182, 182); */
    color: #000000;
}
.chatbot-header>p:nth-child(2){
    font-size: 3.7rem;
    font-weight: 600;
    color: #000000;
    /* background-color: blanchedalmond; */
    position: relative;
    bottom: 25px;
}
.chatbot-example{
    height: 40vh;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chatbot-input{
    height: 12vh;
    width: 80%;
    /* background-color: rgb(67, 66, 66); */
    /* border-radius: 50px ; */
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    input{
        height: 60px;
        width: 90%;
        border-radius: 50px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        outline: none;
        font-size: 1.3rem;
        font-weight: 100;
        font-family: Arial,abinet-grotesk;
        border: 1px solid #c3c3c3;
    }
}
.chatbot-send{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;

    img{
        height: 40px;
        width: 40px;
    }
}

#chatbot-interface{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 100px;
    /* background-color: rgb(20, 22, 22); */
}

@media (max-width: 480px) {
    .chatbot-example{
        display: none;
    }

    .chatbot-header{
        line-height: 2.1;
    }
    .chatbot-header>p:nth-child(1){
        font-size: 1.9rem;
        
    }
    .chatbot-header>p:nth-child(2){
        font-size: 1.9rem;
        
    }
    .chatbot-input{
        width: 90%;
        input{
            font-size: 1rem;
        }
    }
    
}