#dashboard-conatainer{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#dashboard-test-stat-section{
    height: inherit;
    width: 50%;
    min-width: 450px;
    background-color: #e9e9e9;
    border-radius: 24px 0;
    /* border: 1px solid black; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

#dashboard-greeting{
    height: 12vh;
    width: 100%;
    border-radius: 24px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    p{
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
    }
}
#dashboard-test{
    height: 28vh;
    width: 100%;
    border-radius: 24px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#dashboard-screening-test{
    height: 27vh;
    width: 49%;
    /* border: 1px solid black; */
    background-color: #A1EEBD;
    border-radius: 24px ;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 1px 10px 18px;
    display: flex;
    flex-direction: column
}
#dashboard-screening-test p:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    color: #000000;
}
#dashboard-screening-test p:nth-child(2){
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.02rem;
    text-transform: capitalize;
    color: #000000;
    /* background-color: aqua; */
}

#dashboard-screening-test button:nth-child(1){
    position: relative;
    bottom: 10px;
    /* left: 2px; */
}
#dashboard-daily-test button:nth-child(1){
    position: relative;
    bottom: 10px;
    /* left: 2px; */
}
#dashboard-daily-test{
    height: 27vh;
    width: 49%;
    /* border: 1px solid black; */
    background-color: #A1EEBD;
    border-radius: 24px ;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 1px 10px 18px;
    display: flex;
    flex-direction: column;
}

#dashboard-daily-test p:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    color: #000000;
}
#dashboard-daily-test p:nth-child(2){
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.02rem;
    text-transform: capitalize;
    color: #000000;
    /* background-color: aqua; */
}

#dashboard-daily-test button:nth-child(1){
    position: relative;
    /* top: 20px; */
    /* left: 2px; */
}

#dashboard-stat{
    height: 35vh;
    width: 100%;
    border-radius: 24px;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#dashboard-motivationalQuote{
    height: 20vh;
    width: 100%;
    border-radius: 24px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #A1EEBD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#dashboard-motivationalQuote p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    color: #000000;
}
#dashboard-motivationalQuote p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    color: #ffffff;
    position: relative;
    left: 15vw;
}

#dashboard-recommendation-section{
    height: inherit;
    width: calc(100% - 50% - 260px);
    background-color: #e9e9e9;
    /* border-radius: 24px; */
    /* border: 1px solid black; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap:10px ;
}

#dashboard-music{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    height: calc(100% / 3);
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

}

#dashboard-video{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% / 3);
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

#dashboard-counsellor{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% / 3);
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 5px;
}