#homepage-container{
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.left-svg{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 0;
}
.right-svg{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 0;
}

#homepage-logo-login-bar{
    height: 60px;
    width: 100%;
    /* background-color: rgb(183, 200, 216); */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 8vw 0 8vw;
    position: relative;
    z-index: 999;
}
.homepage-logo-section{
    margin-left: 10px;
    height: 25px;
    width: 250px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        font-weight: 400;
    }

}

.homepage-login-section{
    display: flex;
    width: auto;
    align-items: center;
    gap: 0.9rem;
    margin-right: 2rem;
}
.homepage-login-section span{
    font-size: 1.1rem;
}

.homepage-login-section a{
    text-decoration: none;
}

#homepage-hero-section{
    height: 85vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    
}


.hero-header{
    position: relative;
    font-size: 4.5vw;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    /* opacity: 0; */
    /* transform: translate(0,30px); */

}


.hero-subheader{
    font-size: 2vw;
    font-weight: 300;
    line-height: 1.2;
}


.home-features {
    margin-top: 2rem;
    height: auto;
    width: 90%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.linkdashboard{
    text-decoration: none;
    margin: 30px 0 20px 0;
}


.home-cards {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 80px;
    box-shadow: 6px 6px 12px 1px #8d8d8d;
    overflow: hidden;
}

.home-cards::before {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    background: radial-gradient(#A1EEBD, transparent, transparent);
    border-radius: 50%;
    top: var(--y); 
    left: var(--x); 
    transform: translate(-50%, -50%); 
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.home-cards:hover::before {
    opacity: 1; 
}

.home-cards > * {
    position: relative;
    z-index: 1; 
}

.home-cards::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 80px;
}

.home-cards:nth-child(2) {
    height: 320px;
    width: 320px;
}
