#meditation-conatainer {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* border-radius: 24px; */
  display: flex;
  justify-content: start;
  align-items: center;
}

#meditation-section {
  height: inherit;
  width: calc(100% - 260px);
  /* background-color: aquamarine; */
  /* background-color: #131314; */
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  /* background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  ); */

  color: #fff;
  gap: 25px;
  padding: 25px;
  border-radius: 24px;
  overflow-y: scroll;
}
