#testresult-container {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#testresult-section{
    
  height: inherit;
  width: calc(100% - 260px);
  /* background-color: aquamarine; */
  /* background-color: #131314; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  ); */

  color: #000000;
  flex-direction: column;
  padding: 20px 15px 0px 25px;
  border-radius: 24px;
}

#result{
    height: 500px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result:hover{
    box-shadow: 0px 0px 20px 1px #a7a6a63f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

.progress{
    height: inherit;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.result-data{
    height: inherit;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: azure; */
    padding: 15px;
    text-align: center;
    p:nth-child(1){
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 10px;

    }
    p:nth-child(2){
      font-size: 1.3rem;
      font-weight: 200;
      letter-spacing: 0.04rem;

  }
    
}