#video-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: #fff;
  align-items: center;
}

#video-section {
  height: inherit;
  width: calc(100% - 260px);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  gap: 25px;
  padding: 25px;
  border-radius: 24px;
  overflow-y: scroll;
  /* background-color: aqua; */
}

#tab-section {
  height: 20vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#change-section {
  height: 70vh;
  width: 100%;
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; /* This ensures the spacing between iframes */
  padding: 60px; /* Optional padding */
  overflow-y: scroll;
  scrollbar-width: none;
}

.i {
  margin: 0; /* Removed margin to rely on gap in flexbox */
}