
.cardsss {
  width: 19rem;
  height: 25rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(240, 240, 240);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  transition: all ease 0.3s;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(172, 172, 172, 0.529);

 
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }

  .card-content button:nth-child(1){
    color: white;
  }
  
  p, .card-content button:nth-child(1) {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    margin-bottom: 15px;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  .card-content button:nth-child(1) {
    inset: auto auto 40px 30px;
    text-decoration: none;
    margin: 5px;
    color: white;
  }
  
  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
    color: #ffffff;
  }
  
  &:hover p, &:hover .card-content button:nth-child(1) {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
    color: rgb(255, 255, 255);
    
  }
  .card-content button:nth-child(1):hover{
    color: black;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    /* opacity: 0.2; */
    -webkit-filter: blur(4px);
    
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}
