.dashboard-profile-navbar-section {
  position: relative;
  height: inherit;
  width: var(--nav-width);
  /* min-width: 260px; */
  /* background-color: rgb(255, 255, 255); */
  border-radius: 24px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  transition: all ease 0.8s;
  overflow: hidden;
}

.hide {
  --nav-width: 0;
  padding: 0;
}

#dashboard-logo {
  height: 8vh;
  width: 98%;
  border-radius: 24px;
  /* border: 1px solid black; */
  /* background-color: rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(196, 196, 196, 0.574);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  p {
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
  }
}

.hide-and-seek {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  right: 10px;
  cursor: pointer;
  border: none;
}

#dashboard-profile-section {
  height: 24vh;
  width: 98%;
  border-radius: 24px;
  /* border: 1px solid black; */
  /* background-color: rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(194, 192, 192, 0.512);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.outline-profile-pic {
  border: 1px solid rgb(128, 127, 127);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: all ease 0.1s;
  &:hover {
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
.inline-profile-pic {
  /* background-color: rgb(123, 123, 123); */
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgb(140, 138, 138);
  transition: all ease 0.2s;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
.profile-name {
  font-size: 1.2rem;
}
.profile-type {
  font-size: 1rem;
  position: relative;
  bottom: 8px;
}

#dashboard-navbar-section {
  height: 54vh;
  width: 98%;
  border-radius: 24px;
  /* border: 1px solid black; */
  /* background-color: rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(194, 192, 192, 0.512);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
#dashboard-logout-section {
  height: 9vh;
  width: 98%;
  border-radius: 24px;
  /* border: 1px solid black; */
  /* background-color: rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.185);
  border: 1px solid rgba(194, 192, 192, 0.512);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  /* color: aliceblue; */
}
